# Exports for Confusion Matrices
Transforming data into the JSON format needed to visualize the classifier predictions in a confusion matrix with Observable Notebooks.

In [10]:
import pandas as pd
import json
from pathlib import Path

In [2]:
dir = "../../data/token_clf_data/"
baseline_osc_output = "experiment1/5fold/output/aggregated_final_validate_predictions_docclf_sgd-svm_so.csv"
ling_osc_output = "experiment2/5fold/output/aggregated_final_predictions_docclf_sgd-svm_so.csv"
ling_pnoc_osc_output = "experiment3/5fold/output/aggregated_final_pno_predictions_docclf_sgd-svm_so.csv"

In [18]:
# baseline_osc_preds = pd.read_csv(dir+baseline_osc_output, index_col=0)
baseline_osc_preds.head(20)

,description_id,start_offset,end_offset,field,description,manual_label,fold,doc_ling_pred,doc_pers_o_pred,sgd-svm_label
6,3027,627,1162,Biographical / Historical,Thomas Young was probably born in 1725. By the...,['Stereotype'],split4,[],"['Masculine', 'Unknown', 'Occupation']",()
7,3397,8095,8334,Biographical / Historical,Andrew Tait worked on Paramecium in Beale's la...,['Omission'],split4,[],"['Masculine', 'Occupation']","('Omission',)"
10,4736,9951,10026,Biographical / Historical,Delivered by Thomson to teachers in Darlington.,['Omission'],split4,[],['Occupation'],"('Omission',)"
14,4712,4199,4485,Biographical / Historical,"This was gifted by Thomson to his secretary, M...",['Omission'],split4,[],"['Occupation', 'Unknown', 'Masculine', 'Femini...","('Omission',)"
22,15684,845,1179,Biographical / Historical,Catherine Robina Borland was responsible for t...,[''],split4,[],['Masculine'],"('',)"
29,4727,1391,1520,Biographical / Historical,Delivered by Thomson to the East Lothian branc...,['Omission'],split4,[],['Masculine'],"('Omission',)"
31,2095,1772,3218,Biographical / Historical,The Unit for the Study of Government in Scotla...,[''],split4,[],[],"('',)"
32,918,570,683,Biographical / Historical,Charles Randalls graduated from Edinburgh Univ...,[''],split4,[],['Unknown'],"('',)"
33,5460,1493,1592,Biographical / Historical,This appeared in Biology of Reproduction (1996...,[''],split4,[],[],"('',)"
55,7914,6728,6842,Biographical / Historical,"At the Conference, Beatty gave a paper on 'Sex...",['Omission'],split4,[],[],"('Omission',)"
58,2135,490,1643,Biographical / Historical,Edward Adrian Wilson (Wilson of the Antarctic)...,[''],split4,[],"['Masculine', 'Unknown', 'Occupation']","('Omission',)"
64,7963,257,581,Biographical / Historical,John Robison (1739-1805) was Professor of Natu...,[''],split4,[],['Occupation'],"('',)"
68,867,542,703,Biographical / Historical,"In 1925, Palestine and Syria were territories ...",[''],split4,[],[],"('',)"
71,5533,3379,6106,Biographical / Historical,Gerald Henry Elliot was born in Edinburgh on 2...,"['Omission', 'Stereotype']",split4,[],"['Occupation', 'Unknown', 'Masculine', 'Femini...","('Omission',)"
74,4696,1269,1386,Biographical / Historical,"At the time of writing, Nisbet was Professor o...",[''],split4,[],['Occupation'],"('',)"
76,7904,3791,3968,Biographical / Historical,"At the Conference, Beatty took part in the pan...",['Omission'],split4,[],[],()
84,1174,2183,4687,Biographical / Historical,Eric Olof Lundholm was born in 1915 in Modderf...,"['Omission', 'Stereotype']",split4,[],"['Masculine', 'Unknown', 'Occupation']","('Omission',)"
87,2912,256,417,Biographical / Historical,The bound volume of musical manuscript that fo...,[''],split4,[],[],"('',)"
88,7902,3224,3442,Biographical / Historical,Vojtiskova had conducted work on mouse spermat...,['Omission'],split4,[],"['Unknown', 'Occupation']","('Omission',)"
105,27353,468,1233,Biographical / Historical,Novelist Samuel Rutherford Crockett was born i...,[''],split4,[],"['Feminine', 'Unknown', 'Occupation']","('Omission', 'Stereotype')"

In [4]:
ling_osc_preds = pd.read_csv(dir+ling_osc_output, index_col=0)
ling_osc_preds.head()

,description_id,start_offset,end_offset,field,description,manual_label,fold,doc_ling_pred,sgd-svm_label,eadid
6,3027,627,1162,Biographical / Historical,Thomas Young was probably born in 1725. By the...,['Stereotype'],split4,"['Generalization', 'Gendered-Pronoun']",['Stereotype'],Coll-1253
7,3397,8095,8334,Biographical / Historical,Andrew Tait worked on Paramecium in Beale's la...,['Omission'],split4,['Gendered-Pronoun'],['Omission'],Coll-1255
10,4736,9951,10026,Biographical / Historical,Delivered by Thomson to teachers in Darlington.,['Omission'],split4,[''],['Omission'],Coll-1310
14,4712,4199,4485,Biographical / Historical,"This was gifted by Thomson to his secretary, M...",['Omission'],split4,['Gendered-Pronoun'],['Omission'],Coll-1310
22,15684,845,1179,Biographical / Historical,Catherine Robina Borland was responsible for t...,[''],split4,"['Generalization', 'Gendered-Pronoun']",[''],Coll-1453

In [5]:
ling_pnoc_osc_preds = pd.read_csv(dir+ling_pnoc_osc_output, index_col=0)
ling_pnoc_osc_preds.head()

,description_id,start_offset,end_offset,field,description,expected_label,fold,pers_o_pred,predicted_label
6,3027,627,1162,Biographical / Historical,Thomas Young was probably born in 1725. By the...,['Stereotype'],split4,"['Masculine', 'Occupation', 'Unknown']","('Stereotype',)"
7,3397,8095,8334,Biographical / Historical,Andrew Tait worked on Paramecium in Beale's la...,['Omission'],split4,"['Occupation', 'Masculine', 'Unknown']","('Omission',)"
10,4736,9951,10026,Biographical / Historical,Delivered by Thomson to teachers in Darlington.,['Omission'],split4,"['Occupation', 'Unknown']","('Omission',)"
14,4712,4199,4485,Biographical / Historical,"This was gifted by Thomson to his secretary, M...",['Omission'],split4,"['Occupation', 'Feminine', 'Unknown']","('Omission',)"
22,15684,845,1179,Biographical / Historical,Catherine Robina Borland was responsible for t...,[''],split4,['Occupation'],"('',)"

Represent the expected and predicted labels for each dataset in JSON format, with `gt` for expected ("ground truth") and `pt` for predicted ("prediction") labels.

In [20]:
label_to_no = {"": 0, "Omission": 1, "Stereotype": 2}

In [23]:
# df = baseline_osc_preds
# col = "manual_label"
# # def getTrueNegatives(df, col):
# values = list(df[col])
# new_values = [value.strip("[]()',") for value in values]
# df.insert(len(df.columns), "cleaned_manual_label", new_values)
# tn
#     # return df

,description_id,start_offset,end_offset,field,description,manual_label,fold,doc_ling_pred,doc_pers_o_pred,sgd-svm_label,cleaned_manual_label
6,3027,627,1162,Biographical / Historical,Thomas Young was probably born in 1725. By the...,['Stereotype'],split4,[],"['Masculine', 'Unknown', 'Occupation']",(),Stereotype
7,3397,8095,8334,Biographical / Historical,Andrew Tait worked on Paramecium in Beale's la...,['Omission'],split4,[],"['Masculine', 'Occupation']","('Omission',)",Omission
10,4736,9951,10026,Biographical / Historical,Delivered by Thomson to teachers in Darlington.,['Omission'],split4,[],['Occupation'],"('Omission',)",Omission
14,4712,4199,4485,Biographical / Historical,"This was gifted by Thomson to his secretary, M...",['Omission'],split4,[],"['Occupation', 'Unknown', 'Masculine', 'Femini...","('Omission',)",Omission
22,15684,845,1179,Biographical / Historical,Catherine Robina Borland was responsible for t...,[''],split4,[],['Masculine'],"('',)",

In [22]:
def getLabelNumber(df, col, label, label_dict=label_to_no):
    values = list(df[col])
    new_values = []
    for value in values:
        if label in value:
            new_values += [label_dict[label]]
        else:
            new_values += [0]
    return new_values
x = getLabelNumber(baseline_osc_preds, "manual_label", "Omission")
y = getLabelNumber(baseline_osc_preds, "manual_label", "Stereotype")
print(x[:20])
print(y[:20])

[0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0]
[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0]

In [9]:
def reformatForViz(expected_list1, expected_list2, predicted_list, label_dict=label_to_no):
    reformatted = []
    i, maxI = 0, len(expected_list)
    while i < maxI:
        exp1 = expected_list1[i]
        exp2 = expected_list2[i]
        pred = predicted_list[i]
        if exp1 == 0 and exp2 == 0 and pred == 0:
            gt = 0
            pt = 0
        elif:

        gt = label_dict[exp]
        pt = label_dict[pred]
        reformatted += [{"gt": gt, "pt": pt}]
        i += 1
    return reformatted

In [8]:
def writeJSON(reformatted, filepath):
    json_data = json.dumps(reformatted)
    json_file = open(filepath, "w")
    json_file.write(json_data)
    json_file.close()
    print("Finished writing "+filepath+"!")

In [14]:
cm_dir = "../../data/token_clf_data/confusion_matrix_json_data/"
Path(cm_dir).mkdir(parents=True, exist_ok=True)

In [15]:
exp_col = "manual_label"
pred_col = "sgd-svm_label"
baseline_osc_exp = cleanLabels(baseline_osc_preds, exp_col)
baseline_osc_pred = cleanLabels(baseline_osc_preds, pred_col)
reformatted = reformatForViz(baseline_osc_exp, baseline_osc_pred)
f = "5fold_baseline_osc_output.json"
writeJSON(reformatted, cm_dir+f)

KeyError: "Omission', 'Stereotype"