# Analysis: Descriptions' and Annotations' Lengths
## Post Annotation and Aggregation

Outputs the files:
  * `annot-post/data/descriptions_with_counts.csv`: adds columns to `descriptions.csv` for word counts and sentence counts, where words are alphanumeric tokens (punctuation excluded)
  * `annot-post/data/descs_stats.csv`: contains the count, minimum, maximum, average, and standard deviation of all descriptions and each type of description

***

**Table of Contents**

[0.](#0) Loading

[1.](#1) Lengths of Descriptions and Annotations

  * [Lengths of Descriptions](#1.1)
  
  * TO DO: [Lengths of Annotations](#1.2)

***

<a id="0"></a>
### 0. Loading
First, begin by loading Python programming libraries and the dataset to be analyzed.

In [1]:
import utils  # import custom functions

import pandas as pd
import numpy as np
import string, csv, re, os, sys #,json

import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
# nltk.download('punkt')
from nltk.corpus import PlaintextCorpusReader
# nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
# nltk.download('stopwords')
from nltk.tag import pos_tag
from nltk.text import Text
from nltk.probability import FreqDist
from collections import Counter
from wordcloud import WordCloud

%matplotlib inline
import matplotlib.pyplot as plt

In [6]:
# dir_path = "data/"
# data_files = ["aggregated_final.csv", "aggregated_with_annotator_eadid_note_cols.csv", 
#               "aggregated_with_eadid_descid_desc_cols.csv", "descriptions.csv"]

In [7]:
# df = pd.read_csv(dir_path+data_files[2], index_col=0)
# df.head()

In [8]:
# print("Rows:",df.shape[0], "\nColumns:",df.shape[1])  # Rows: 55260, Columns: 10

<a id="1"></a>
## 1. Lengths of Descriptions and Annotations
Minimum, maximum, average, and standard deviation of word and sentence counts...
* Per description (by `desc_id` - a.k.a. per "document" for document classifiers)
* Per metadata field (Title, Biographical / Historical, Scope and Contents, and Processing Information)
* Per collection (identifiable with the `eadid` column)
* Per annotation label (Omission, Stereotype, Generalization, etc.)
* Per annotation category (Person Name, Linguistic, Contextual)

<a id="1.1"></a>
### 1.1 Lengths of Descriptions

In [2]:
descs_path = "data/descriptions.csv"     # descriptions in column of CSV file

In [28]:
desc_df = pd.read_csv(descs_path, index_col=0)
desc_df.head()

,description,field,desc_id
eadid,,,
AA5,Professor James Aitken White was a leading Sco...,Biographical / Historical,0
AA5,Papers of The Very Rev Prof James Whyte (1920-...,Title,1
AA6,Rev Thomas Allan was born on 16 August 1916 in...,Biographical / Historical,2
AA6,Papers of Rev Tom Allan (1916-1965)\n\n,Title,3
AA7,Alec Cheyne was born on 1 June 1924 in Errol i...,Biographical / Historical,4

In [83]:
# Remove metadata field name from each description
new_descs = []
descs = list(desc_df.description)
fields = list(desc_df.field)
i = 0
maxI = len(descs)
while i < maxI:
    d, f = descs[i], fields[i]
    to_remove = f+":\n"
    d = d.replace(to_remove,"")
    new_descs += [d]
    i += 1
assert len(new_descs) == len(descs)
# new_descs[:10]            # Looks good

In [84]:
# Update the CSV file
desc_df.description = new_descs
desc_df.head()
desc_df.to_csv(descs_path)

In [86]:
# Write each description to a txt file named with desc_id
ids = list(desc_df.desc_id)
zero_padding = len(str(ids[-1]))
desc_txt_dir = "data/descriptions/"
i, maxI = 0, len(ids)
while i < maxI:
    d_id = str(ids[i])
    padding = zero_padding - len(d_id)  # pad with zeros so file order aligns with DataFrame order
    id_str = ("0"*padding) + d_id
    filename = "description"+id_str+".txt"
    f = open((desc_txt_dir+filename), "w", encoding="utf8")
    f.write(new_descs[i])
    f.close()
    i += 1
print("Files written to "+desc_txt_dir)

Files written to data/descriptions/

In [2]:
corpus = PlaintextCorpusReader("data/descriptions/", "description\d+.txt", encoding="utf8")
# print(len(corpus.fileids()), desc_df.shape[0])  # Looks good
print(corpus.fileids()[-20:]) # Looks good

['description11868.txt', 'description11869.txt', 'description11870.txt', 'description11871.txt', 'description11872.txt', 'description11873.txt', 'description11874.txt', 'description11875.txt', 'description11876.txt', 'description11877.txt', 'description11878.txt', 'description11879.txt', 'description11880.txt', 'description11881.txt', 'description11882.txt', 'description11883.txt', 'description11884.txt', 'description11885.txt', 'description11886.txt', 'description11887.txt']

#### Length per Description

In [3]:
desc_words, desc_lower_words, desc_sents = utils.getWordsSents(corpus)
print(desc_words[0][:10])
print(desc_lower_words[0][:10])
print(desc_sents[0][:2])

['Professor', 'James', 'Aitken', 'White', 'was', 'a', 'leading', 'Scottish', 'Theologian', 'and']
['professor', 'james', 'aitken', 'white', 'was', 'a', 'leading', 'scottish', 'theologian', 'and']
['Professor James Aitken White was a leading Scottish Theologian and Moderator of the General Assembly of the Church of Scotland.', "He was educated at Daniel Stewart's College and the University of Edinburgh where he studied philosophy and divinity."]

In [33]:
# Add word and sentence counts to DataFrame/CSV of descriptions
word_count = [len(word_list) for word_list in desc_words]  # includes digits but not punctuation
sent_count = [len(sent_list) for sent_list in desc_sents]
print(word_count[:2], sent_count[:4])  # Looks good
# len(desc_sents[2]) # 14

[179, 9] [8, 1, 14, 1]

In [36]:
desc_df.insert(len(desc_df.columns), "word_count", word_count)
desc_df.insert(len(desc_df.columns), "sent_count", sent_count)
desc_df.head()

,description,field,desc_id,word_count,sent_count
eadid,,,,,
AA5,Professor James Aitken White was a leading Sco...,Biographical / Historical,0,179,8
AA5,Papers of The Very Rev Prof James Whyte (1920-...,Title,1,9,1
AA6,Rev Thomas Allan was born on 16 August 1916 in...,Biographical / Historical,2,315,14
AA6,Papers of Rev Tom Allan (1916-1965)\n\n,Title,3,6,1
AA7,Alec Cheyne was born on 1 June 1924 in Errol i...,Biographical / Historical,4,333,14

In [100]:
desc_df.to_csv("descriptions_with_counts.csv")  # write a new CSV file with the word and sentence counts

In [38]:
desc_df = desc_df.reset_index()
desc_df.head(1)

,eadid,description,field,desc_id,word_count,sent_count
0,AA5,Professor James Aitken White was a leading Sco...,Biographical / Historical,0,179,8

In [101]:
desc_df_stats = utils.makeDescribeDf("All", desc_df)
desc_df_stats

                           total_descriptions       mean         std  min  \
metadata_field by
All            word_count             11888.0  30.780535  183.985507  1.0
               sent_count             11888.0   2.047863   11.263009  1.0

                               max
metadata_field by
All            word_count  14147.0
               sent_count    854.0

#### Lengths per Metadata Field

In [102]:
field = "Biographical / Historical"
bh_stats = utils.makeDescribeDf(field, desc_df)
bh_stats

                                      total_descriptions        mean  \
metadata_field            by
Biographical / Historical word_count               576.0  130.635417
                          sent_count               576.0    6.647569

                                             std  min     max
metadata_field            by
Biographical / Historical word_count  139.046526  6.0  1110.0
                          sent_count    6.759143  1.0    45.0

In [95]:
field = "Scope and Contents"
sc_stats = utils.makeDescribeDf(field, desc_df)
sc_stats

                               total_descriptions       mean         std  min  \
metadata_field     by
Scope and Contents word_count              6198.0  39.262988  248.426508  2.0
                   sent_count              6198.0   2.304453   15.363817  1.0

                                   max
metadata_field     by
Scope and Contents word_count  14147.0
                   sent_count    854.0

In [96]:
field = "Processing Information"
pi_stats = utils.makeDescribeDf(field, desc_df)
pi_stats

                                   total_descriptions      mean        std  \
metadata_field         by
Processing Information word_count               280.0  9.417857  10.892454
                       sent_count               280.0  1.075000   0.335611

                                   min    max
metadata_field         by
Processing Information word_count  4.0  177.0
                       sent_count  1.0    4.0

In [97]:
field = "Title"
t_stats = utils.makeDescribeDf(field, desc_df)
t_stats

                           total_descriptions      mean       std  min   max
metadata_field by
Title          word_count              4834.0  9.243691  6.764719  1.0  51.0
               sent_count              4834.0  1.227141  0.751659  1.0  15.0

#### Combine the Statistics

In [103]:
df_stats = pd.concat([desc_df_stats, t_stats, sc_stats, bh_stats, pi_stats], axis=0)
df_stats

                                      total_descriptions        mean  \
metadata_field            by
All                       word_count             11888.0   30.780535
                          sent_count             11888.0    2.047863
Title                     word_count              4834.0    9.243691
                          sent_count              4834.0    1.227141
Scope and Contents        word_count              6198.0   39.262988
                          sent_count              6198.0    2.304453
Biographical / Historical word_count               576.0  130.635417
                          sent_count               576.0    6.647569
Processing Information    word_count               280.0    9.417857
                          sent_count               280.0    1.075000

                                             std  min      max
metadata_field            by
All                       word_count  183.985507  1.0  14147.0
                          sent_count   11.263009  1.0    854.0
Title                     word_count    6.764719  1.0     51.0
                          sent_count    0.751659  1.0     15.0
Scope and Contents        word_count  248.426508  2.0  14147.0
                          sent_count   15.363817  1.0    854.0
Biographical / Historical word_count  139.046526  6.0   1110.0
                          sent_count    6.759143  1.0     45.0
Processing Information    word_count   10.892454  4.0    177.0
                          sent_count    0.335611  1.0      4.0

In [104]:
df_stats.to_csv("data/descs_stats.csv")

#### Prepare data for visualization in Observable

In [5]:
df_descs = pd.read_csv("data/descriptions_with_counts.csv", index_col=0)
df_descs.head()

,eadid,description,field,desc_id,word_count,sent_count
9,AA5,Professor James Aitken White was a leading Sco...,Biographical / Historical,0,179,8
17,AA5,Papers of The Very Rev Prof James Whyte (1920-...,Title,1,9,1
39,AA6,Rev Thomas Allan was born on 16 August 1916 in...,Biographical / Historical,2,315,14
47,AA6,Papers of Rev Tom Allan (1916-1965)\n\n,Title,3,6,1
70,AA7,Alec Cheyne was born on 1 June 1924 in Errol i...,Biographical / Historical,4,333,14

<a id="1.2"></a>
### 1.2 Length of Annotations

* Dataset: `annot-post/data/aggregated_final.csv`